* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  display: flex;
  gap: 40px;
}

.bg-img {
  width: 100%;
  height: 100vh;
  background-image: url(./Assets/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-bg,
.bg-img p,
p a:link {
  color: #fff;
}

.logo-bg {
  background-color: rgba(00, 00, 00, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 150px;
}

img {
  width: 90px;
  height: 110px;
}

h1 {
  font-size: 3rem;
}

.bg-img p {
  text-align: center;
}

.bg-color {
  align-self: center;
}

.bg-color > div {
  margin-bottom: 50px;
}

.bg-color > div p {
  font-size: 1.1rem;
}

span {
  font-style: italic;
}

.form-bg {
  background-color: #fff;
  margin-bottom: 50px;
}

.form-row {
  display: flex;
  gap: 50px;
}

label {
  font-size: 0.6rem;
  letter-spacing: 1px;
  display: block;
}

input {
  outline: none;
  padding: 5px;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  margin-bottom: 15px;
}

input:focus {
  border: 1px solid blue;
}

#password:user-invalid,
#confirm-password:user-invalid {
  border: 1px solid red;
}

button {
  color: #fff;
  background-color: #596d48;
  padding: 10px 30px;
  border: none;
  border-radius: 7px;
}

form p a:link {
  color: #596d48;
  text-decoration: none;
}
